<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="pros.cordova.application"
    version="0.5.0">

    <name>Application</name>
    <description>
        This plugin provides application and device information
    </description>

    <license>Apache 2.0</license>
    
    <engines>
        <engine name="cordova" version=">=3.0.0" />
    </engines>

    <js-module src="www/AppPlugin.js">
       <clobbers target="plugins.Application" />
    </js-module>
	
	<!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="Application" >
                <param name="android-package" value="pros.cordova.application.Application"/>
            </feature>
        </config-file>

        <source-file src="src/android/Application.java" target-dir="src/pros/cordova/application" />
    </platform>
	
	<!-- ios -->
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="Application">
                <param name="ios-package" value="CDVApplication"/>
            </feature>
        </config-file>

        <header-file src="src/ios/CDVApplication.h" />
        <source-file src="src/ios/CDVApplication.m" />
    </platform>

    <!-- wp8 -->
    <platform name="wp8">
        <config-file target="config.xml" parent="/*">
            <feature name="Application">
                <param name="wp-package" value="Application"/>
            </feature>
        </config-file>

        <source-file src="src/wp8/Application.cs" />
    </platform>	
</plugin>